<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="APCDEntities" connectionString="metadata=res://*/DbApcd.csdl|res://*/DbApcd.ssdl|res://*/DbApcd.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=APCD;persist security info=True;user id=sa;password=sqladmin;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>